<p>Login Works!</p>

<!-- <form>
    <div class="mb-3">
      <label for="email" class="form-label" required
        >Digite seu email de login</label
      >
      <input
         [formControl]="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        placeholder="example@dogcare.com"
        required
      />

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input
        [formControl]="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Senha"
        required
      />
    </div>
  
    <button (click)="realizarLogin()" type="submit" class="btn btn-primary mb-3">
      Login
    </button>
  </form> -->