<section class="card border-primary">
  <header class="card-header">
    <h2 class="text-center text-primary">Criar ticket</h2>
  </header>

  <div class="container p-5">
    <form action="">
      <!-- Nome -->
      <div class="mb-3">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="userName"
          placeholder="Digite o seu nome"
        />
      </div>
      <!-- Email -->
      <div class="mb-3">
        <label for="email">Endereço de email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Digite o seu email"
        />
      </div>

      <!-- titulo -->
      <div class="mb-3">
        <label for="titulo">Endereço de titulo</label>
        <input
          type="titulo"
          class="form-control"
          id="titulo"
          name="titulo"
          placeholder="Digite o seu titulo"
        />
      </div>

      <!-- Descrição -->
      <div class="mb-3">
        <label for="descricao">Endereço de descricão</label>
        <input
          type="descricao"
          class="form-control"
          id="descricao"
          name="descricao"
          placeholder="Digite o seu descricao"
        />
      </div>

      <!-- Localização -->
      <div class="mb-3">
        <label for="localizacao">Endereço de localizacao</label>
        <input
          type="localizacao"
          class="form-control"
          id="localizacao"
          name="localizacao"
          placeholder="Digite o seu localizacao"
        />
      </div>
    </form>
  </div>
</section>
